@{
    ViewData["Title"] = "Sobre a Linguagem";
}

<body>
    <div class="text-lg-start">
    <h1 class="display-4">Relatos das experiências</h1>
    <p>Início dos estudos: 06.06.2022</p>
    <article>
            <p>
            Este é o meu primero sistema em C#, resultado da inicialização dos estudos da linguagem aqui na CSTI-IPT.
            </p> 
            <p>
            Muitos projetos virão pela frente, aqui irei destacar as primeiras impressões da linguagem para que futuramente faça uma análise do desenvolvimento ao logo do aprendizado.
            </p>
            <p>
            Como tudo é novo, muitas dificuldades apareceram no início como conexão com o banco de dados, o que significava instanciar um objeto entre outros.
            </p>
            <p>
            Um coisa muito importante no C# é que precisamos colocar o nome da pasta da view com o mesmo nome da controller.
            </p>
    </article>

    <h2>Principais conheciumentos adquiridos ao construir o sistema:</h2>
    <ol> 
        <li>Criar front-end (tabela BOOSTRAP)</li>
        <li>Criação de banco de dados, tabelas e colunas</li>
        <li>Conexão com o banco de dados</li>
        <li>Migrations (antes e após conexão banco de dados)</li>
        <li>Inserir tabelas e botões via Bootstrap</li>
        <li>Formatar tabela para língua portuguesa, realizar filtragem e pesquisa.</li>
        <li>Criar tela de login</li> 
        <li>Sessão e perfil de usuário</li>
        <li>Inserir controle de login</li>
        <li>Criptografia das senhas do usuário - SHA1</li>
        <li>Tela para redefinição de tela</li>
        <li>Envio de e-mail ao esquecer senha</li>
        <li>Tela para alterar senha de usuário</li>
        <li>Relacionamento entre tabelas</li>
        <li>View part</li>
        <li>Modal Boostrap com JQuery - não funcionou</li>
    </ol>

    <h2>Principais dificuldades enfrentadas ao construir o sistema:</h2>
     <ol> 
        <li>Conexão com o banco de dados</li>
        <li>Nomear as pastas da view</li>
        <li>Fazer as migrations</li>
        <li>Inserir novas colunas nas tabelas após as migrations</li>
        <li>Modal</li>
    </ol>

</div>
</body>


<footer>
    <div class="text-center">
        <p>Sistema de Cadastro de Contatos<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Atualizado em 23.08.2022</p>
    </div>
</footer>
