html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #2556;
    color: #1586;
    height: auto;
}


.field-validation-error
{
    color: #e01d1d;
}

.close-alert{
    position:absolute;
    right:-10px;
    top:-15px;
    width:30px;
    height:31px;
    border-radius:2px;
}

.table-style {
    background: #ffffff;
    box-shadow: inset;
    border-block: double;
    padding: 2rem;
}
